@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div style="width:100%; height: 300px; text-align:center">
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="GetAllUsers()">GetAllUsers</span>        
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="CreateUser()">CreateUser</span>
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="EditUser()">EditUser</span>
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="RemoveUser()">RemoveUser</span>

        <br />
        <br />
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="GetAllDepartments()">GetAllDepartments</span>
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="CreateDepartment()">CreateDepartment</span>
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="EditDepartment()">EditDepartment</span>
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="RemoveDepartment()">RemoveDepartment</span>
        <span style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="GetDepartmentInfo()">GetDepartmentInfo</span>

        


        <br />
        <br />
        <input id="Scripture" style="border-width:1px; border-style:solid;  text-align:center;  border-color:lightgray; width:218px; height:30px; font-size:16px" placeholder='input your string here' />
        <br />
        <br />
        <span id="Label" style="font-size:16px; color: darkred; cursor:pointer"></span>
    </div>
</div>
